
saves/
experiments/
*.params
*.pkl
*.pth
*.model

*.log
logs/
PD_OPEN/logs/

__pycache__/
*.pyc
*.pyo
*.pyd
.Python

.vscode/
.ipynb_checkpoints/
PD_OPEN/configurations/.ipynb_checkpoints/
PD_OPEN

DMGL/data/
Taxi_Trips__2024-_.csv (2).csv
monthly_data/


*.tmp
*.temp
.DS_Store
Thumbs.db

runs/
run/

# Backup files
*.bak
*.backup